/* General */
html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: poppins, sans-serif;
    
}

a {
  font-family: poppins, sans-serif;
  text-decoration: none;
}


body {
    color: white !important;
    background-attachment: fixed, fixed;
    height: 100%;
    background-color: #445B64;
    transition: 0.6s ease-in;
}

/* General */

/* Nav Bar */

#Menu {
  display: none;
}

ul {
  margin-top: 0px;
}

.header,.header2 {
    display: flex;
    max-width: 100%;
    height: 1%;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 8%;;
    position: sticky;
}


li {
    list-style: none;
    display: inline;
    padding: 0px 16px;
}

#home {
    margin-top: 4px;
    width: 2rem;
    height: 2rem;
}

.Resume:hover, .service:hover, .middle:hover  {
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(216, 207, 207, 0.6);
  transition: 0.3s ease-in-out;
}

.service, .middle, .Resume {
  padding: 10px 20px;
    color: white !important;
}

/* Nav Bar */

/* Main Page */

.pfp {
    box-shadow: 0 5px 9px 0 rgba(216, 207, 207, 0.418);
    border-radius: 500px;

    margin-bottom: 3vh;
    max-width: 300px;
    max-height: 300px;
}

.imgwrap {
    font-size: 1.5rem;
    margin-top: 21vh;
    text-shadow: 0 2px 4px 0 rgba(216, 207, 207, 0.6);
    text-align: center;
    line-height: 10px;
}


.langtainer {
    margin-top: 4vh;
}

.langwrap {
    display: flex;
    margin: 0.3rem 0px;
    justify-content: space-between;
}

.lang {
  height: 60%;
  max-width: 100%;
  transition: 0.6s ease-in-out;
}

.AboutMePage h2 {
  font-size: 2rem;
}

.AboutMePage h3 {
  font-size: 1.7rem;
}

.AboutMePage a {
  width: 100px;
}

.lang:hover {
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}

.me-container {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh ;
  padding-bottom: 10vh;
} 

.AboutMePage {
    margin: 26vh auto;
    max-width: calc(70% - 4em);
    background-color: #445B64;
    transition: 0.6s ease-in;
    text-align: center;
    height: 100%;
}

.skills {
  display: none;
}

/* Main Page */

/* Side Bar */

.dark2, .fa-brands {
  color: white !important;
}

.fa-moon {
  cursor: pointer;
  color: white;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    overflow: hidden;
    margin-top: 25vh
}
  
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
  
.nav-item:last-child {
    margin-top: auto;
}
  
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: white;
    text-decoration: none;
    filter: grayscale(100%) opacity(1);
}
  
.link-text {
    display: none;
    margin-left: 1rem;
}
  
.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}
  
.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
  
.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}
  
.logo-text{
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.dark2, .fa-brands {
  color: white !important;
}

/* Side Bar */

/* Contact Page */

.contact-section a, #text3 {
  text-decoration: none;
  color: white;
}

.contact-section {
    align-items: center;
    width: 97em;
    color: white;
    border-radius: 1vh;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 17vh auto;
    max-width: calc(70% - 4em);
    background-color: #445B64;
    text-align: center;
}

.contact-info{
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
  }
  
  .contact-info i{
    margin-right: 30px;
    font-size: 25px;
  }
  
  .contact-form{
    flex-wrap: nowrap;
    max-width: 50rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .contact-info, .contact-form{
    flex: 0;
  }

  .contact-section i {
    letter-spacing: 2px;
    line-height: 1.5em;
  }
  
  .contact-form .text-box  {
    flex-wrap: nowrap;
    background: #36505a;
    color: black;
    border: none;
    width: calc(51% - 30px);
    height: 50px;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    margin-bottom: 20px;
    opacity: 1;
}
  
  .contact-form .text-box:first-child{
    margin-right: 16px;
  }
  
  .contact-form .textarea {
    background: #36505a;
    color: #fff;
    border: none;
    width: 97%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    margin-bottom: 20px;
    opacity: 1;
  }
  
  .contact-form .send-btn{
    float: right;
    background: #2E94E3;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
  }
  
  .contact-form .send-btn:hover{
    background: #0582E3;
  }
/* Contact Page */


/* Javascript related css */

.darkmode2, .darkmode3 {
  background-color: #14212B;
  transition: 0.6s ease-in;
}

/* Javascript related css */

/* Media Queries */

@media only screen and (max-width: 768px) {
  #Menu {
    display: block;
  }

  li {
    margin-top: 0.3rem;
  }

  .fa-bars.active .bar:nth-child(2){
    opacity: 0;
  }

  .fa-bars.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .fa-bars.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    align-items: center;
    line-height: 3rem;
    display: flex;
    font-size: 19px;
    position: fixed;
    left: 100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: #36505a;
  }

  .langwrap {
    display: none;
  }

  .skills {
    display: block;
  }

  .active {
    left: -5.5%;
  }
}


@media only screen and (max-width: 1003px) {
  .navbar, .navbar-nav {
    display: none;
  }
}

@media only screen and (min-width: 300px) {

    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
  }
  
  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }
}

/* Media Queries */