/* General */
:root {
  --primary-clr: #445B64;
  --darkmode-clr: #14212B;
  --white: white;
  --input: #314852;
}

html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: poppins, sans-serif;
    
}

a {
  font-family: poppins, sans-serif;
  text-decoration: none;
}


body {
    color: var(--white) !important;
    background-attachment: fixed, fixed;
    margin: 0;
    height: 100%;
    background-color: var(--primary-clr);
    transition: 0.6s ease-in;
    width: 99%;
}

/* General */

/* Nav Bar */

#Menu {
  display: none;
}

ul {
  margin-top: 0px;
}

.header,.header2 {
    display: flex;
    max-width: 100%;
    height: 1%;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 8%;;
    position: sticky;
}


li {
    list-style: none;
    display: inline;
    padding: 0px 16px;
}

#home {
    margin-top: 4px;
    width: 2rem;
    height: 2rem;
}

.Resume:hover, .service:hover, .middle:hover  {
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(216, 207, 207, 0.6);
  transition: 0.3s ease-in-out;
}

.service, .middle, .Resume {
  padding: 10px 20px;
    color: var(--white) !important;
}

/* Nav Bar */

/* Main Page */

.pfp {
    box-shadow: 0 5px 9px 0 rgba(216, 207, 207, 0.418);
    border-radius: 500px;

    margin-bottom: 3vh;
    max-width: 300px;
    max-height: 300px;
}

.imgwrap {
    font-size: 1.5rem;
    margin-top: 21vh;
    text-shadow: 0 2px 4px 0 rgba(216, 207, 207, 0.6);
    text-align: center;
    line-height: 10px;
}


.langtainer {
    margin-top: 4vh;
}

.langwrap {
    display: flex;
    margin: 0.3rem 0px;
    justify-content: space-between;
}

.lang {
  height: 60%;
  max-width: 100%;
  opacity: 1;
  transition: 0.4s ease-in-out;
}

.AboutMePage h2 {
  font-size: 2rem;
}

.AboutMePage h3 {
  font-size: 1.7rem;
}

.AboutMePage a {
  width: 100px;
}

.lang:hover {
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}

.me-container {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh ;
  padding-bottom: 10vh;
} 

.AboutMePage {
    margin: 26vh auto;
    max-width: calc(70% - 4em);
    background-color: var(--primary-clr);
    transition: 0.6s ease-in;
    text-align: center;
    height: 100%;
    overflow: hidden;
}

.skills {
  display: none;
}

/* Main Page */

/* Side Bar */

.dark2, .fa-brands {
  color: var(--white) !important;
}

.fa-moon {
  cursor: pointer;
  color: var(--white);
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    overflow: hidden;
    margin-top: 25vh
}
  
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
  
.nav-item:last-child {
    margin-top: auto;
}
  
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--white);
    text-decoration: none;
    filter: grayscale(100%) opacity(1);
}
  
.link-text {
    display: none;
    margin-left: 1rem;
}
  
.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}
  
.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
  
.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}
  
.logo-text{
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.dark2, .fa-brands {
  color: var(--white) !important;
}

/* Side Bar */

/* Projects */

.contain {
  display: grid;
  min-height: 100vh;
  place-items: center;
  line-height: 1.6;
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0px 9rem;
  grid-template-columns: repeat(3, 1fr);
}

.card1 {
  background-image: url(./images/project1.png);
  background-size: cover;
  background-position: 47%;
  background-repeat: no-repeat;
}

.card2 {
  background-image: url(./images/project2.png);
  background-size: 130%;
  background-position: 47% 0%;
  background-repeat: no-repeat;
}

.card3 {
  background-image: url(./images/project.jpg);
  background-size: cover;
  background-position: 47%;
  background-repeat: no-repeat;
}

.card1,
.card2,
.card3 {
  font-size: 1.1rem;
  color: var(--white);
  padding: 13rem 0 0;
  max-width: 35ch;
  border-radius: 3%;
  transition: transform 500ms ease;
  overflow: hidden;
}

.card1:hover,
.card2:hover,
.card3:hover,
.card:focus-within {
  transform: scale(1.05);
}

.card-content {
  --size: 1.5em;
  padding: 0.8em;
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(20 0% 0% / 0.6) 20%,
    hsl(0 0% 0% / 1)
  );
  border-radius: 3%;
 transform: translateY(65%);
  transition: 800ms ease;
}

.card1:hover .card-content,
.card2:hover .card-content,
.card3:hover .card-content,
.card1:focus-within .card-content,
.card2:focus-within .card-content,
.card3:focus-within .card-content
 {
  transform: translateY(0%);
  transition-delay: 0.2s;
}

.card:focus-within .card-content,
.card2:focus-within .card-content,
.card3:focus-within .card-content {
  transition-duration: 0ms;
}

.card-title {
  position: relative;
  width: max-content;
  color: #ffffff;
}

.card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--size) * -1);
  bottom: 0;
  background-color: #0582E3;
  width: calc(100% + var(--size));
  transform: scaleX(0);
  transition: 500ms ease;
  transform-origin: left;
}

.card1:hover .card-title::after,
.card1:focus-within,
.card2:hover .card-title::after,
.card2:focus-within,
.card3:hover .card-title::after,
.card3:focus-within {
  transform: scaleX(1);
  transition-delay: 0.7s;
}


.buttonn {
  cursor: pointer;
  display: inline;
  color: wheat;
  background-color: #0582E3;
  padding: 0.4em 0.8em;
}

.buttonn:hover,
.buttonn:focus {
  background-color: var(--darkmode-clr);
  transition: 0.6s;
}

/* Projects */

/* Contact Page */

.contact-section a, #text3 {
  text-decoration: none;
  color: var(--white);
}

.contact-section {
    align-items: center;
    width: 97em;
    color: var(--white);
    border-radius: 1vh;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 17vh auto;
    max-width: calc(70% - 4em);
    background-color: var(--primary-clr);
    text-align: center;
}

.contact-info{
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
  }
  
  .contact-info i{
    margin-right: 30px;
    font-size: 25px;
  }
  
  .contact-form{
    flex-wrap: nowrap;
    max-width: 50rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .contact-info, .contact-form{
    flex: 0;
  }

  .contact-section i {
    letter-spacing: 2px;
    line-height: 1.5em;
  }
  
  .contact-form .text-box  {
    flex-wrap: nowrap;
    background: var(--input);
    color: black;
    border: none;
    width: calc(51% - 30px);
    height: 50px;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    margin-bottom: 20px;
    opacity: 1;
}
  
  .contact-form .text-box:first-child{
    margin-right: 16px;
  }
  
  .contact-form .textarea {
    background: var(--input);
    color: var(--white);
    border: none;
    width: 97%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    margin-bottom: 20px;
    opacity: 1;
  }
  
  .contact-form .send-btn{
    float: right;
    background: #2E94E3;
    color: var(--white);
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
  }

  .submitbtn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contact-form .send-btn:hover{
    background: #0582E3;
  }
/* Contact Page */


/* Javascript related css */

.darkmode2, .darkmode3, .darkmode4 {
  background-color: var(--darkmode-clr) !important;
  transition: 0.6s ease-in;
}

/* Javascript related css */


/* Media Queries */

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms
    !important;
    animation-iteration-count: 1
    !important;
    transition-duration: 0.01ms
    !important;
    scroll-behavior: auto !important;
  }
}

@media only screen and (max-width: 768px) {
  #Menu {
    display: block;
  }

  li {
    margin-top: 0.3rem;
  }

  .fa-bars.active .bar:nth-child(2){
    opacity: 0;
  }

  .fa-bars.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .fa-bars.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    align-items: center;
    line-height: 3rem;
    display: flex;
    font-size: 19px;
    position: fixed;
    margin-top: 3%;
    left: 100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: #36505a;
  }

  .langwrap {
    display: none;
  }

  .Resume:hover, .service:hover, .middle:hover {
    box-shadow: none;
  }

  .Resume:active, .service:active, .middle:active {
    opacity: 0.5;
    transition: 0.3s ease-in-out;
    box-shadow: none;
  }

  .skills {
    display: block;
    line-height: 60px;
    font-size: 1.5rem;
  }

  .active {
    margin-top: 3%;
    left: -5.5%;
  }

  .contain {
    display: flex;
    margin-top: 10rem;
    gap: 3em;
    flex-direction: column;
    padding: 0px;
  }

  *, ::after,
  ::before {
    box-sizing: content-box;
  }

  .contact-form .text-box  {
    width: calc(104% - 30px);
    opacity: 1;
  }
}

@media only screen and (max-width: 492px) {
  .active {
    margin-top: 3%;
    left: -9%;
  }

  .imgwrap h1, .imgwrap h3 {
    line-height: 50px;
  }
  .contact-form .text-box  {
    width: calc(190% - 30px);
    opacity: 1;
  }

  .contact-form .textarea {
    width: calc(190% - 30px);
  }
  
  .contact-form {
    display: flex;
    margin-right: 7em;
    flex-direction: column;
  }

  .submitbtn {
    align-items: center;
    justify-content: center;
  }
  
}

@media only screen and (max-width: 1003px) {
  .navbar, .navbar-nav {
    display: none;
  }
}

@media only screen and (min-width: 300px) {

    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
  }
  
  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }
}

/* Media Queries */